## Import Modules

In [1]:
import json
import pandas as pd
import numpy as np
import statsmodels.api as sm
import matplotlib.pyplot as plt
from scipy import stats
from tqdm import tqdm
from datetime import datetime

## Define Function

In [2]:
def flatten(t):
    return [item for sublist in t for item in sublist]

## Import Data

In [3]:
df_price = pd.read_excel("Price.xlsx", index_col=0) 
df_price

                Mnemonic  Close
Date
2019-12-31  4SI:XJSE:EQU   32.0
2019-11-30  4SI:XJSE:EQU   20.0
2019-10-31  4SI:XJSE:EQU   20.0
2019-09-30  4SI:XJSE:EQU   20.0
2019-08-31  4SI:XJSE:EQU   18.0
...                  ...    ...
2009-05-31  ZED:XJSE:EQU  144.0
2009-04-30  ZED:XJSE:EQU  148.0
2009-03-31  ZED:XJSE:EQU  140.0
2009-02-28  ZED:XJSE:EQU  146.0
2009-01-31  ZED:XJSE:EQU  155.0

[42504 rows x 2 columns]

In [4]:
df_size = pd.read_excel("Market Capitalizations.xlsx", usecols=[0,2,3], index_col=1)
df_size

                Mnemonic   Market Cap
Date
2019-12-31  4SI:XJSE:EQU  253217582.0
2019-11-30  4SI:XJSE:EQU  158260989.0
2019-10-31  4SI:XJSE:EQU  158260989.0
2019-09-30  4SI:XJSE:EQU  158260989.0
2019-08-31  4SI:XJSE:EQU  142434890.0
...                  ...          ...
2009-05-31  ZED:XJSE:EQU  880279665.0
2009-04-30  ZED:XJSE:EQU  904687478.0
2009-03-31  ZED:XJSE:EQU  855785452.0
2009-02-28  ZED:XJSE:EQU  892461971.0
2009-01-31  ZED:XJSE:EQU  947476750.0

[42504 rows x 2 columns]

In [5]:
df_MR = pd.read_excel("J203T Price.xlsx", usecols=[0,1], index_col=0)
df_MR

               J203T
Dates
2000-01-04   694.664
2000-01-05   687.378
2000-01-06   688.400
2000-01-07   705.859
2000-01-10   729.218
...              ...
2020-02-24  8332.211
2020-02-25  8321.271
2020-02-26  8357.358
2020-02-27  8114.083
2020-02-28  7748.701

[5258 rows x 1 columns]

In [6]:
df_RF = pd.read_excel("91days T-Bill rate.xlsx", index_col=0)
df_RF

            Value
Date
2000-01-05  10.71
2000-01-06  10.71
2000-01-07  10.56
2000-01-10  10.56
2000-01-11  10.56
...           ...
2019-12-25   7.19
2019-12-26   7.19
2019-12-27   7.16
2019-12-30   7.16
2019-12-31   7.16

[5215 rows x 1 columns]

## Sorting Data

Reform price data frame

In [7]:
tmp = pd.DataFrame()
labels = []
n = int((2019-2009+1)*12)

for i in range(int(len(df_price)/n)): 
    price = pd.DataFrame(df_price.iloc[(n*(i-1)):(n*i),1])
    name = df_price.iloc[range(1,len(df_price),n)[i],0]
    tmp = pd.concat([tmp,price], axis=1)
    labels.append(name)
    tmp.columns = [labels]

In [8]:
df_price = tmp
# reorder the date of price data
df_price = df_price.sort_index(ascending=True)
df_price

,4SI:XJSE:EQU,ABG:XJSE:EQU,APF:XJSE:EQU,ACS:XJSE:EQU,AIP:XJSE:EQU,ADR:XJSE:EQU,AVL:XJSE:EQU,ADH:XJSE:EQU,AFE:XJSE:EQU,ANI:XJSE:EQU,...,VKE:XJSE:EQU,VUN:XJSE:EQU,WEZ:XJSE:EQU,WEA:XJSE:EQU,WBO:XJSE:EQU,WHL:XJSE:EQU,WKF:XJSE:EQU,YYLBEE:XJSE:EQU,YRK:XJSE:EQU,ZED:XJSE:EQU
Date,,,,,,,,,,,,,,,,,,,,,
2009-01-31,NaN,NaN,9300.0,NaN,NaN,4000.0,2290.0,NaN,370.0,5099.0,...,NaN,905.0,1750.0,116.0,64.0,9718.0,1345.0,32.0,NaN,1600.0
2009-02-28,NaN,NaN,8900.0,NaN,NaN,3826.0,2050.0,NaN,350.0,4399.0,...,NaN,825.0,850.0,108.0,40.0,8500.0,1190.0,25.0,NaN,1150.0
2009-03-31,NaN,NaN,9620.0,NaN,NaN,3600.0,1700.0,NaN,371.0,4400.0,...,NaN,919.0,1500.0,120.0,54.0,8509.0,1140.0,18.0,NaN,540.0
2009-04-30,NaN,NaN,9845.0,NaN,NaN,4200.0,2100.0,NaN,400.0,4875.0,...,NaN,930.0,750.0,134.0,70.0,10001.0,1200.0,18.0,NaN,540.0
2009-05-31,NaN,NaN,10155.0,NaN,NaN,4200.0,2300.0,NaN,415.0,4600.0,...,5200.0,960.0,600.0,170.0,55.0,10355.0,1250.0,22.0,NaN,460.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2019-08-31,NaN,18.0,15369.0,295.0,725.0,5775.0,2000.0,45.0,1109.0,9099.0,...,11529.0,1872.0,255.0,40.0,3.0,10018.0,5518.0,140.0,1800.0,170.0
2019-09-30,NaN,20.0,15287.0,174.0,725.0,5675.0,2055.0,38.0,1250.0,9596.0,...,11964.0,1900.0,255.0,52.0,3.0,14290.0,5508.0,160.0,1840.0,160.0
2019-10-31,NaN,20.0,15488.0,198.0,600.0,5624.0,1370.0,42.0,1125.0,9765.0,...,13185.0,1934.0,250.0,55.0,3.0,14118.0,5749.0,160.0,1865.0,160.0
2019-11-30,NaN,20.0,14726.0,165.0,715.0,5501.0,1105.0,39.0,1070.0,10528.0,...,12112.0,1970.0,249.0,54.0,3.0,14054.0,5218.0,159.0,2000.0,160.0
2019-12-31,NaN,32.0,14930.0,175.0,650.0,5378.0,1300.0,40.0,1080.0,10700.0,...,11530.0,1940.0,240.0,51.0,3.0,13811.0,4860.0,150.0,1740.0,149.0

Reform size data frame

In [9]:
tmp = pd.DataFrame()

for i in range(int(len(df_size)/n)): 
    size = pd.DataFrame(df_size.iloc[(n*(i-1)):(n*i),1])
    tmp = pd.concat([tmp,size], axis=1)
tmp.columns = flatten([labels])

In [10]:
df_size = tmp
# reorder the date of size data
df_size = df_size.sort_index(ascending=True)
df_size

,4SI:XJSE:EQU,ABG:XJSE:EQU,APF:XJSE:EQU,ACS:XJSE:EQU,AIP:XJSE:EQU,ADR:XJSE:EQU,AVL:XJSE:EQU,ADH:XJSE:EQU,AFE:XJSE:EQU,ANI:XJSE:EQU,...,VKE:XJSE:EQU,VUN:XJSE:EQU,WEZ:XJSE:EQU,WEA:XJSE:EQU,WBO:XJSE:EQU,WHL:XJSE:EQU,WKF:XJSE:EQU,YYLBEE:XJSE:EQU,YRK:XJSE:EQU,ZED:XJSE:EQU
Date,,,,,,,,,,,,,,,,,,,,,
2009-01-31,NaN,NaN,6.326588e+10,NaN,NaN,6.916287e+09,1.238633e+09,NaN,1.456560e+09,6.060008e+09,...,NaN,2.674735e+09,431987500.0,679168221.0,117095434.0,6.413880e+09,1.074192e+10,76800000.0,NaN,1.253921e+09
2009-02-28,NaN,NaN,6.054477e+10,NaN,NaN,6.615428e+09,1.111497e+09,NaN,1.377827e+09,5.228079e+09,...,NaN,2.438295e+09,209822500.0,632329033.0,73184646.0,5.610000e+09,9.504005e+09,60000000.0,NaN,9.012558e+08
2009-03-31,NaN,NaN,6.545181e+10,NaN,NaN,6.224658e+09,9.217295e+08,NaN,1.460497e+09,5.229267e+09,...,NaN,2.716113e+09,370275000.0,702587815.0,98799273.0,5.615940e+09,9.112693e+09,43200000.0,NaN,4.231984e+08
2009-04-30,NaN,NaN,6.698264e+10,NaN,NaN,7.262101e+09,1.138607e+09,NaN,1.574660e+09,5.793791e+09,...,NaN,2.748623e+09,185137500.0,784556393.0,128073131.0,6.600660e+09,9.592308e+09,43200000.0,NaN,4.231984e+08
2009-05-31,NaN,NaN,6.909180e+10,NaN,NaN,7.262101e+09,1.247046e+09,NaN,1.633709e+09,5.466961e+09,...,7.737361e+10,2.837288e+09,148110000.0,995332738.0,100903889.0,6.834300e+09,9.991988e+09,52800000.0,NaN,3.605023e+08
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2019-08-31,NaN,142434890.0,1.302908e+11,2.945648e+09,2.863460e+09,1.015007e+10,2.199094e+09,129594794.0,6.061937e+09,1.108523e+10,...,2.116569e+11,1.790056e+10,410947583.0,651130823.0,8291796.0,5.999832e+09,5.785436e+10,341223880.0,9.524873e+08,5.631090e+08
2019-09-30,NaN,158260989.0,1.295956e+11,1.737433e+09,2.863460e+09,9.974315e+09,2.259569e+09,109435604.0,6.832661e+09,1.169072e+10,...,2.196429e+11,1.816831e+10,410947583.0,846470070.0,8291796.0,8.558354e+09,5.774957e+10,389970148.0,9.736537e+08,5.299850e+08
2019-10-31,NaN,158260989.0,1.312996e+11,1.977079e+09,2.369760e+09,9.884678e+09,1.506379e+09,120955141.0,6.149395e+09,1.189661e+10,...,2.420588e+11,1.849342e+10,402889787.0,895304881.0,8291796.0,8.455343e+09,6.027737e+10,389970148.0,9.868827e+08,5.299850e+08
2019-11-30,NaN,158260989.0,1.248398e+11,1.647566e+09,2.823964e+09,9.668495e+09,1.214999e+09,112315488.0,5.848758e+09,1.282617e+10,...,2.223600e+11,1.883766e+10,401278228.0,879026611.0,8291796.0,8.417013e+09,5.471213e+10,387532835.0,1.058319e+09,5.299850e+08
2019-12-31,NaN,253217582.0,1.265692e+11,1.747418e+09,2.567240e+09,9.452312e+09,1.429411e+09,115195373.0,5.926683e+09,1.303571e+10,...,2.116752e+11,1.855080e+10,386774196.0,830191799.0,8291796.0,8.271479e+09,5.095873e+10,365597014.0,9.207377e+08,4.935485e+08

Calculate risk-free and market returns

In [11]:
df_RF = (1+df_RF['Value'].astype(np.float64)/100)**(1/365)-1
df_RF.index = pd.to_datetime(df_RF.index)
df_RF = pd.DataFrame(df_RF.resample('M',convention='end').sum())

               Value
Date
2000-01-31  0.005021
2000-02-29  0.005371
2000-03-31  0.005917
2000-04-30  0.005166
2000-05-31  0.006129
...              ...
2019-08-31  0.004076
2019-09-30  0.003813
2019-10-31  0.004153
2019-11-30  0.003893
2019-12-31  0.004153

[240 rows x 1 columns]

In [14]:
df_RF.index.apply(lambda x:x[:7])

AttributeError: 'DatetimeIndex' object has no attribute 'apply'

In [12]:
tmp = np.log(df_MR/df_MR.shift(1))
df_MR = tmp.iloc[1:,:]
df_MR.index = pd.to_datetime(df_MR.index)
df_MR = pd.DataFrame(df_MR.resample('M',convention='end').sum())
df_MR

               J203T
Dates
2000-01-31 -0.010618
2000-02-29 -0.063682
2000-03-31  0.008188
2000-04-30 -0.063640
2000-05-31 -0.009361
...              ...
2019-10-31  0.030952
2019-11-30 -0.018123
2019-12-31  0.032479
2020-01-31 -0.017086
2020-02-29 -0.094180

[242 rows x 1 columns]